<div class="creature-slot" data-rarity="{{creature_rarity}} "data-description="{{creature_description}}" data-amount={{creature_amount}} 
data-index="{{creature_index}}" data-id={{creature_id}} data-image={{creature_image}} data-species="{{creature_species}}">
  <div class="creature-slot-header">
    <span>Index </span><span class= "index_num">{{creature_index}}: </span><span class="creature-name">{{creature_species}}</span>
  </div>

  <div class="creature-image">
    <img src={{creature_image}}>
  </div>

  <div class="creature-slot-footer">
    <button type='button' class="creature-slot-button">Info</button>
  </div>
</div>
