<div class="egg-slot" data-rarity={{egg_rarity}}
data-index={{egg_index}} data-id={{_id}} data-image={{egg_image}}>
  <div class="egg-slot-header">
    <span>Rarity: </span><span class= "egg_rarity">{{egg_rarity}} </span>
  </div>

  <div class="egg-image">
    <img src={{egg_image}}>
  </div>

  <div class="egg-slot-footer">
    <button type='button' class="hatch-button">Hatch</button>
  </div>
</div>
