<div class="text-file-icon clickable" data-text_id={{_id}}  data-text_status={{text_status}} data-text_content={{text_content}} data-reward_rarity={{reward_rarity}} data-text_title={{text_title}} data-word_goal={{word_goal}} data-word_count={{word_count}} data-due_date={{due_date}}>
  <div class="text-file-header">
    <span class="text-title">{{text_title}}</span>
  </div>

  <div class="text-file-footer">
    <span class="text-status">Status: {{text_status}}</span>
  </div>
</div>
